user www-data;
worker_processes {{ pillar['nginx']['worker_processes'] }};
pid /run/nginx.pid;

events {
    worker_connections {{ pillar['nginx']['worker_connections'] }};
}

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    gzip on;

    server {
        listen {{ pillar['nginx']['port'] }};
        server_name {{ pillar['nginx']['server_name'] }};
        root {{ pillar['nginx']['root_path'] }};

        location / {
            try_files $uri $uri/ =404;
        }
    }
}
